@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
    box-sizing: border-box;
}
/* the asterix is a universal selector */
/* set to border box so if we add any padding or border onto element, it won't impact the width of it */

body{
    font-family: 'Muli', 'sans-serif';
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    /* display flex centres everything */
    /* if flexbox is a column, align items will align horizontally */
    /* if flexbox is a row, align items will align vertically */
    /* vh is viewport height aka entire height of browser */
}

.container{
    display: flex;
    width: 90vw;
}

.panel{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 1s ease-in;
}

.panel h3{
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}
